/* DIV do Login */
.wrapper{   
  width: 420px;
  background: #ffFFFAFA;
  color: #333;
  border-radius: 10px;
  padding: 30px 40px;
  opacity:0.9;
}

.bodyLogin {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: url(../../componets/imagens/fundoIfood.jpeg);
}


.wrapper h1{
  font-size:36px;
  text-align: center;

}
/*Caixa de texto*/
.wrapper .input-box{
   position: relative;
   width: 100%;
   height: 50px;
   margin: 30px 0;
  }


.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline:none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px; 
  font-size: 16px;
  border-color: #333;
  color: #333;
  padding: 20px 45px 20px 20px;
}


.input-box input::placeholder{
  color: #333;
}

          /*Icones*/
.input-box .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

/*Caixa do RELEMBRAR*/
.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input{
  accent-color: #655c5c;
  margin-right: 4px;
  border-color: #333;
}

.remember-forgot a{
  color: #333;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

/*CAIXA DO BOTÃO*/



/*.wrapper button{
  width: 100%;
  height: 45px;
  background: #fff;
  border: 1;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  border-color: re;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  

  
}*/

/*Transição do botão*/
.btn{
  margin-bottom: 15px;
  width: 100%;
  height: 45px;
  padding: 0.5em 1em;
  border-radius: 40px;
  color: black;
  background-color: var(--clr-rgba);
  
  
/*Transição de uma cor para a outra */
  transition: all 0.2s;
 
}

.iconAlign{
  margin-right: 10px;
  margin-left: 15px;
}



.btn:hover {
  transform: translateY(-2px);
  background-color: red ;
  color: white;
  border-color: white;
}

/*CAIXA LOGIN COM FACE E GOOGLE*/

.alt-login{
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.alt-login div{
  width: 45%;
  height: 90%;
  border-radius: 0.50em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s;

}

.alt-login div:hover{
  transform: translateY(-2px);

}

